@import url('https://fonts.googleapis.com/css?family=Raleway|Sniglet|Ubuntu');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

/* .video-background{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
    }

.video-background video {
    min-width: 100%;
    min-height: 100%;
} */
 /* @media (min-aspect-ratio: 16/9){
    .video-background {
        width: 100%;
        height: auto;
    } */

/* @media (max-aspect-ratio: 16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
} */
header{
    background:  linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 50, 0.5)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -100;
    overflow: hidden;
    

}
@media (max-width: 768px) {
    header {
        background: url(https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        padding: 30px;
        height: 750px;
    }
    .container__box {
        position: absolute;
    }
    .loginbox {
        display: none;
    } 
    #event__date {
        display: none!important;
    }
    .footer {
        display: none;
    }
    .header h1 {
        font-size: 20px;
    }
    .header p {
        font-size: 10px;
    }
    .logo {
        width: 100px!important;

    }
    .infosession {
        font-size: 1rem!important;
        margin-top: -21%!important;
        float: right;
        
    }
    .highlights {
        position: relative;
        text-align: center!important;
        margin-right: 55%!important;
    }
    footer p {
        margin-left: -1px!important;
    }

    
}
@media (max-width: 1028px){
    header {
        background: url(https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        padding: 30px;
        height: 750px;
    }
    .loginbox {
        display: none;
    }
    #event__date {
        margin-top: -55%!important;
    }
    .infosession {
        font-size: 2rem!important;
        padding-top: 15px!important;
        margin-left: 15%!important;
    }
  
}   
.container__box {
    margin: 0 50px;
    height : 60px;
    padding: 60px;
}
.first-line {
    margin-left: 8%;
    margin-top: 4%;
    border-left: 10px solid #ea5b0c;
    padding-left: 20px;
    color: #fff;
}
.second-line {
    margin-left: 8%;
    color: #fff;
    padding-top: 3%;
}
.logo {
    width: 15%;
}
.infosession {
    font-size: 3rem;
    margin-left: 15%;
    margin-top: -68px;
    color: #fff;
    border-left: 4px solid #fff;
    padding-left: 2%;
    font-family: 'Ubuntu', sans-serif!important;
}
.event-date {
    margin-left: 30%;
    font-size: 1.5rem;
    color: #ea5b0c;
}
.tm-logo {
    margin-left: 8%;
    padding-top: 5%;
}

.loginbox {
    width: 320px;
    height: 520px;
    background: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 50, 0.5));
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 65px;
    margin-top: 3%;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.4),0 17px 50px 0 rgba(0, 0, 0, 0.4);
}
.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.enquiry {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="phone"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 1rem;
}
.btn {
    background: #d96834;
    background-image: -webkit-linear-gradient(top, #d96834, #b86d2c);
    background-image: -moz-linear-gradient(top, #d96834, #b86d2c);
    background-image: -ms-linear-gradient(top, #d96834, #b86d2c);
    background-image: -o-linear-gradient(top, #d96834, #b86d2c);
    background-image: linear-gradient(to bottom, #d96834, #b86d2c);
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 40px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 20px 6px 20px;
    border: solid #e85100 2px;
    text-decoration: none;
    text-align: center;
    margin-left: 5%;
  }
  
  .btn:hover {
    background: #fc693c;
    background-image: -webkit-linear-gradient(top, #fc693c, #d93434);
    background-image: -moz-linear-gradient(top, #fc693c, #d93434);
    background-image: -ms-linear-gradient(top, #fc693c, #d93434);
    background-image: -o-linear-gradient(top, #fc693c, #d93434);
    background-image: linear-gradient(to bottom, #fc693c, #d93434);
    text-decoration: none;
  }
  #event__date {
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      padding: 10px;
      box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.4),0 17px 50px 0 rgba(0, 0, 0, 0.4);
      margin-left: 79%;
      margin-top: -43%;
      color: #fff;
      font-size: 25px;
      word-spacing: 10px;
      display: flex;
      border-radius: 25px;
      font-weight: inherit;
      

  }
  
.ph-icon {
    font-size: 1.5rem;

}
 .highlights h1 {
    margin-left: 35%;
    margin-top: -10px;
    margin-bottom: 6%;
} 
  .cards {
    border: 1px solid #4c4c4c;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #4c4c4c;
    padding: 30px;
    padding-bottom: 30px;
    
}  

 .course-icon {
    font-size: 3.5rem;
    padding-bottom: 6%
}
.description {
    text-align: center;
} 
.course-container {
    margin-bottom: 5%;
    margin-top: 3%;
}

#team {
    background-image: linear-gradient(rgba(0, 0, 20, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        text-align: center;
        
}
.team h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 30px;
    color: #fff;
}
.team h5, .team h6 {
    margin: 20px 0 20px;
    color: #fff;
}
.team h6{
    font-weight: 200;
}
.team p {
    color: #fff;

}
.team-member {
    margin: 4%;
}
.faculty {
    padding: 50px 0 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(https://images.pexels.com/photos/872955/pexels-photo-872955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    text-align: center;
    color: #fff;
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        
}
.faculty h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 30px;
    border-bottom: 1px ridge #c0c0c0;

}
.faculty h5 {
    font-weight: 400;
}

.faculty p {
    padding-bottom: 40px;
}
.faculty img {
    cursor: pointer;
    margin: 0 auto 60px auto;
    transition: all 500ms ease-in-out;

}
.about {
    padding: 7%;
    text-align: center;
  
}
.about h5 {
    font-size: 2rem;
}
.footer {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    margin-left: 35%;
}
footer p {
margin-left: 38%;
padding-left: 40px;
margin-top: 5%;
font-family: 'Sniglet', 'Ubuntu';

}
.social-media {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #365a7e;
    overflow: hidden;
    position: relative;
}
.social-media i {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    transition: 0.2s linear;
  padding-left: 17px;

}
.social-media:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.social-media::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #386085;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.social-media:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0% {
        left: -110%;
        top: 90%

    }50%{
        left: -110%;
        top: 90%
    }100% {
        top: -10%;
        left: -10%;
    }
}

 ::-webkit-scrollbar {
     background: #ddd;
     width: 14px;
 }
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 10px #00000070;
     border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb {
     background: linear-gradient(125deg, #786fa6, #182346);
     border-radius:10px;
 }